body {
	background-color: #232323;
	margin: 0;
	font-family: "Montserrat", "Avenir";
}

.square {
	width: 30%;
	background-color: #800080;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background-color 0.6s;
	-webkit-transition: background-color 0.6s;
	-moz-transition: background-color 0.6s;
}

#container {
	margin: 20px auto;
	max-width: 600px;
}

h1 {
	text-align: center;
	line-height: 1.1;
	font-weight: normal;
	color: #fff;
	background-color: #4682b4;
	margin: 0;
	text-transform: uppercase;
	padding: 20px 0;
}

#colour-display {
	font-size: 200%;
}

#message {
	display: inline-block;
	width: 20%;
}

#stripe {
	background-color: #fff;
	height: 30px;
	text-align: center;
	color: #000;
}

.selected {
	color: #fff;
	background-color: #4682b4;
}

button {
	border: none;
	background-color: transparent;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: #4682b4;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	outline: none;
}

button:hover {
	color: #fff;
	background-color: #4682b4;
}
